version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: mockshop-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: MockShopDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: mockshop-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:latest
    container_name: mockshop-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: